:root {
    --ds-toast-container-width: 400px;
}

.ds-c-toast-container .Toastify__toast-container--bottom-left {
    left: calc(var(--ds-menu-width) + 1em);
}

.ds-c-toast-container .Toastify__toast:last-child {
    margin-bottom: 0;
}

.ds-c-toast-container .Toastify__toast-container {
    width: var(--ds-toast-container-width);
}
