.ds-c-toast {
    align-items: center;

    padding: var(--ds-spacing--M);

    border-radius: var(--ds-radius--S);
}

.ds-c-toast .Toastify__toast-body {
    margin: 0;

    display: flex;
    align-items: center;
}

.ds-c-toast.Toastify__toast--dark,
.ds-c-toast.Toastify__toast--info,
.ds-c-toast.Toastify__toast--success,
.ds-c-toast.Toastify__toast--warning,
.ds-c-toast.Toastify__toast--error {
    --ds-text-color: var(--ds-color--white-100);
}

.ds-c-toast.Toastify__toast--info {
    background-color: var(--ds-color--primary-500);
}

.ds-c-toast.Toastify__toast--success {
    background-color: var(--ds-color--success-500);
}

.ds-c-toast.Toastify__toast--warning {
    background-color: var(--ds-color--warning-500);
}

.ds-c-toast.Toastify__toast--error {
    background-color: var(--ds-color--error-500);
}
