:root {
    --ds-tooltip-max-width: 250px;
}

/* Theme styling */

.ds-theme--light .ds-c-tooltip__tooltip {
    --ds-tooltip-background-color: var(--ds-color--black-100);
    --ds-tooltip-text-color: var(--ds-color--white-100);
}

.ds-theme--dark .ds-c-tooltip__tooltip {
    --ds-tooltip-background-color: var(--ds-color--white-100);
    --ds-tooltip-text-color: var(--ds-color--black-100);
}

/* Main */

.ds-c-tooltip {
    width: fit-content;
    max-width: 100%;
}

.ds-c-tooltip__tooltip {
    --ds-text-color: var(--ds-tooltip-text-color);

    background-color: var(--ds-tooltip-background-color);
    border-radius: var(--ds-o-box-border-radius);

    padding: var(--ds-spacing--M);

    visibility: hidden;
    pointer-events: none;

    max-width: var(--ds-tooltip-max-width);

    z-index: 9999;
}

.ds-c-tooltip__content--ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.ds-c-tooltip__tooltip-title {
    margin-bottom: var(--ds-spacing--XS);
}

.ds-c-tooltip:hover .ds-c-tooltip__tooltip {
    visibility: visible;
}

.ds-c-tooltip__tooltip ul {
    padding-left: 15px;
    list-style: circle;
}

/* Arrow styling */

.ds-c-tooltip__arrow,
.ds-c-tooltip__arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    z-index: -1;
}

.ds-c-tooltip__arrow::before {
    content: "";
    transform: rotate(45deg);
    background: var(--ds-tooltip-background-color);
}

.ds-c-tooltip__tooltip[data-popper-placement^="top"] > .ds-c-tooltip__arrow {
    bottom: -4px;
}

.ds-c-tooltip__tooltip[data-popper-placement^="bottom"] > .ds-c-tooltip__arrow {
    top: -4px;
}

.ds-c-tooltip__tooltip[data-popper-placement^="left"] > .ds-c-tooltip__arrow {
    right: -4px;
}

.ds-c-tooltip__tooltip[data-popper-placement^="right"] > .ds-c-tooltip__arrow {
    left: -4px;
}
