:root {
    --ds-layout-minWidth: 1280px;
    --ds-layout-minHeight: 768px;

    --ds-layout-v-padding: var(--ds-spacing--XXL);
    --ds-layout-h-padding: var(--ds-spacing--XL);
}

.ds-theme--light {
    --ds-layout-background-color: #f5f5f5;
}

.ds-theme--dark {
    --ds-layout-background-color: var(--ds-color--black-100);
}

@media (max-width: 1440px) {
    :root {
        --ds-layout-v-padding: var(--ds-spacing--XL);
        --ds-layout-h-padding: var(--ds-spacing--M);
    }
}

body {
    min-width: var(--ds-layout-minWidth);
}
