:root {
    --thc-spacing--XS: 4px;
    --thc-spacing--S: 8px;
    --thc-spacing--M: 12px;
    --thc-spacing--L: 16px;
    --thc-spacing--XL: 24px;
    --thc-spacing--XXL: 32px;
    --thc-spacing--3XL: 40px;
    --thc-spacing--4XL: 48px;
    --thc-spacing--5XL: 56px;
    --thc-spacing--6XL: 64px;
}
