:root {
    --thc-fontFamily--roboto: "Roboto";
}

:root {
    --thc-fontSize--XS: 11px;
    --thc-fontSize--S: 13px;
    --thc-fontSize--M: 16px;
    --thc-fontSize--L: 23px;
    --thc-fontSize--XL: 33px;
}

:root {
    --thc-fontWeight--regular: 400;
    --thc-fontWeight--medium: 500;
    --thc-fontWeight--semi-bold: 600;
    --thc-fontWeight--bold: 700;
}

:root {
    --thc-lineHeight--XS: 15.4px;
    --thc-lineHeight--S: 18.2px;
    --thc-lineHeight--M: 22.4px;
    --thc-lineHeight--L: 32.2px;
    --thc-lineHeight--XL: 46.2px;
}

.thc-theme--light {
    --thc-textColor--primary: var(--thc-color--black-100);
    --thc-textColor--accent: var(--thc-color--primary-500);
    --thc-textColor--secondary: var(--thc-color--black-40);
}

.thc-theme--dark,
.thc-theme--color {
    --thc-textColor--primary: var(--thc-color--white-100);
    --thc-textColor--accent: var(--thc-color--white-100);
    --thc-textColor--secondary: var(--thc-color--white-40);
}
