:root {
    --ds-fontFamily--roboto: "Roboto";
}

:root {
    --ds-fontSize--XS: 11px;
    --ds-fontSize--S: 13px;
    --ds-fontSize--M: 16px;
    --ds-fontSize--L: 23px;
    --ds-fontSize--XL: 33px;
}

:root {
    --ds-fontWeight--regular: 400;
    --ds-fontWeight--medium: 500;
    --ds-fontWeight--semi-bold: 600;
    --ds-fontWeight--bold: 700;
}

:root {
    --ds-lineHeight--XS: 15.4px;
    --ds-lineHeight--S: 18.2px;
    --ds-lineHeight--M: 22.4px;
    --ds-lineHeight--L: 32.2px;
    --ds-lineHeight--XL: 46.2px;
}

.ds-u-typography--headline-1 {
    font-family: var(--ds-fontFamily--roboto);
    font-weight: var(--ds-fontWeight--regular);
    font-size: var(--ds-fontSize--XL);
    line-height: var(----ds-lineHeight-XL);
    text-transform: none;
}

.ds-u-typography--headline-2 {
    font-family: var(--ds-fontFamily--roboto);
    font-weight: var(--ds-fontWeight--regular);
    font-size: var(--ds-fontSize--L);
    line-height: var(----ds-lineHeight-L);
    text-transform: none;
}

.ds-u-typography--subtitle-1 {
    font-family: var(--ds-fontFamily--roboto);
    font-weight: var(--ds-fontWeight--regular);
    font-size: var(--ds-fontSize--M);
    line-height: var(--ds-lineHeight--M);
    text-transform: none;
}

.ds-u-typography--body-1,
.ds-u-typography--button {
    font-family: var(--ds-fontFamily--roboto);
    font-weight: var(--ds-fontWeight--regular);
    font-size: var(--ds-fontSize--S);
    line-height: var(--ds-lineHeight--S);
    text-transform: none;
}

.ds-u-typography--caption {
    font-family: var(--ds-fontFamily--roboto);
    font-weight: var(--ds-fontWeight--regular);
    font-size: var(--ds-fontSize--XS);
    line-height: var(--ds-lineHeight--XS);
    text-transform: none;
}
