.ds-c-button-angle {
    border-radius: 0 0 0 var(--ds-radius--L);
    padding: var(--ds-spacing--XS) var(--ds-spacing--XS) var(--ds-spacing--M) var(--ds-spacing--M);
}

/* Without background (secondary) the box-shadow overflows from the button */

.ds-c-button-angle.ds-c-button--secondary:hover {
    box-shadow: unset;
    background: var(--ds-actionable-box-shadow-color--hover);
}

.ds-c-button-angle.ds-c-button--secondary:active {
    box-shadow: unset;
    background: var(--ds-actionable-box-shadow-color--active);
}
