:root {
    --ds-button-container-spacing: var(--ds-spacing--M);
}

.ds-c-button-container {
    display: flex;
    align-items: center;
}

.ds-c-button-container > .ds-c-button + .ds-c-button {
    margin-left: var(--ds-button-container-spacing);
}
