:root {
    --ds-cell-height: 30px;
    --ds-cell-min-width: 150px;
}

.ds-theme--light,
.ds-theme--dark {
    --ds-cell-background-color: var(--ds-paper-background-color);
}

.ds-theme--light {
    --ds-cell-background-color--hover: var(--ds-color--black-10);
}

.ds-theme--dark {
    --ds-cell-background-color--hover: var(--ds-color--white-10);
}

.ds-c-cell {
    box-sizing: border-box;
    height: var(--ds-cell-height);
    min-width: var(--ds-cell-min-width);
    width: fit-content;
    padding: 0 var(--ds-spacing--M);
    border-bottom: var(--ds-borderSolid--S);
    border-right: var(--ds-borderSolid--S);

    display: flex;
    align-items: center;
    justify-content: space-between;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    background-color: var(--ds-cell-background-color);
}

.ds-c-cell--hover {
    --ds-cell-background-color: var(--ds-cell-background-color--hover);
}
