:root {
    --ds-header-cell-height: 50px;
    --ds-header-cell-min-width: var(--ds-cell-min-width);
}

.ds-theme--light,
.ds-theme--dark {
    --ds-header-cell-box-shadow--hover: var(--ds-color--blue-400);
    --ds-header-cell-box-shadow--active: var(--ds-color--blue-500);
}

.ds-c-header-cell {
    box-sizing: border-box;
    height: var(--ds-header-cell-height);
    min-width: var(--ds-header-cell-min-width);
    width: fit-content;
    padding: 0 var(--ds-spacing--M);
    border-bottom: var(--ds-borderSolid--S);
    border-right: var(--ds-borderSolid--S);

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--ds-paper-background-color);

    --ds-icon-color: var(--ds-textColor--secondary);

    --ds-actionable-box-shadow-color--hover: var(--ds-header-cell-box-shadow--hover);
    --ds-actionable-box-shadow-color--active: var(--ds-header-cell-box-shadow--active);
}

.ds-c-header-cell__content {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
