:root {
    --ds-chip-background-color: none;

    --ds-chip-border: none;
    --ds-chip-border-radius: var(--ds-radius--L);

    --ds-chip-padding: var(--ds-spacing--XS) var(--ds-spacing--M);
}

.ds-c-chip {
    background-color: var(--ds-chip-background-color);

    padding: var(--ds-chip-padding);
    width: max-content;

    word-break: keep-all;

    border: var(--ds-chip-border);
    border-radius: var(--ds-chip-border-radius);
    outline: none;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.ds-c-chip--outlined {
    --ds-chip-border: var(--ds-borderSolid--S);
}

.ds-c-chip span,
.ds-c-chip.ds-o-actionable {
    cursor: var(--ds-cursor--default);
}

.ds-c-chip.ds-o-actionable:not([disabled]) .ds-c-chip__icon {
    cursor: var(--ds-actionable-cursor);
}
