.ds-c-display-status {
    display: flex;
    align-items: center;
}

.ds-c-display-status--draft {
    --ds-icon-color: var(--ds-color--warning-500);
}

.ds-c-display-status--inProgress {
    --ds-icon-color: var(--ds-textColor--secondary);
}

.ds-c-display-status--paused {
    --ds-icon-color: var(--ds-textColor--primary);
}

.ds-c-display-status--done {
    --ds-icon-color: var(--ds-color--success-500);
}

.ds-c-display-status--failed {
    --ds-icon-color: var(--ds-color--error-500);
}
