.ds-c-date-picker__calendar .CalendarMonth_table {
    margin-top: var(--ds-spacing--M);
}

.ds-c-date-picker__calendar .CalendarMonth_caption {
    --ds-text-fontFamily: var(--ds-fontFamily--roboto);
    --ds-text-fontSize: var(--ds-fontSize--L);
    --ds-text-lineHeight: var(--ds-lineHeight--L);
}

.ds-c-date-picker .ds-c-icon {
    --ds-text-color: var(--ds-textColor--primary);
}

.ds-c-date-picker__calendar .DayPicker,
.ds-c-date-picker__calendar .DayPicker__horizontal,
.ds-c-date-picker__calendar .CalendarMonthGrid,
.ds-c-date-picker__calendar .CalendarMonth,
.ds-c-date-picker__calendar .CalendarDay__default,
.ds-c-date-picker__calendar .DayPickerNavigation_button__default {
    background: none;
}

.ds-c-date-picker__calendar .CalendarDay__default:hover {
    background: var(--ds-textColor--secondary);
}

.ds-c-date-picker__calendar .CalendarDay__selected,
.ds-c-date-picker__calendar .CalendarDay__selected:active,
.ds-c-date-picker__calendar .CalendarDay__selected:hover {
    background: var(--ds-color--blue-500);
    border-color: var(--ds-color--blue-500);
}
