.ds-c-date-range-picker__calendar .CalendarMonth_table {
    margin-top: var(--ds-spacing--M);
}

.ds-c-date-range-picker__calendar .CalendarMonth_caption {
    --ds-text-fontFamily: var(--ds-fontFamily--roboto);
    --ds-text-fontSize: var(--ds-fontSize--L);
    --ds-text-lineHeight: var(--ds-lineHeight--L);
}

.ds-c-date-range-picker .ds-c-icon {
    --ds-text-color: var(--ds-textColor--primary);
}
