.ds-c-input-adornment {
    --ds-input-adornment--spacing: var(--ds-spacing--M);

    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
}

.ds-c-input-adornment:not(:last-child) {
    margin-right: var(--ds-input-adornment--spacing);
}

.ds-c-input:not([disabled]) .ds-c-input-adornment {
    --ds-text-color: var(--ds-textColor--accent);
}

.ds-c-input--error.ds-c-input:not([disabled]) .ds-c-input-adornment {
    --ds-text-color: var(--ds-status-color--error);
}
